body{
    margin: 0;
    padding: 0;
}
#header {    
    text-align: right;    
}

#header ul {
    list-style-type: none;        
}

#header li {
    text-align: right; 
    color: #ccc;   
}

li {
    display: inline-block;
    text-decoration: none;      
    padding: 0 12px; 
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header img {
    border-radius: 50px;
    width: 30px;
    vertical-align: middle;  
}

div#content {
    width: 45%;
    margin: 60px auto;
    text-align: center;
}

#logo img {
    width: 260px;
    padding-bottom: 30px;     
}

div#search {
    position: relative;
    margin: 20px 0;
}
i.fa.fa-search {
    position: absolute;
    top: 15px;
    left: 20px;
}
#searchbox {
    border: 1px solid gray;
    border-radius: 40px;
    box-shadow: 0px 10px 40px -30px;    
    width: 100%;
    height: 40px;
}

img#mic {
    width: 20px;
    position: absolute;
    top: 12px;
    right: 15px;
}

button {
    background: rgb(243, 241, 241);
    border: 0;
    padding: 8px 15px;
    color: rgb(66, 65, 65);
    border-radius: 2px;
}

#footer {
    background-color: rgb(211, 209, 209);
    position: absolute;
    width: 100%;
    bottom: 0;
}
div#top {
    padding-left: 51px;
    padding-bottom: 20px;
}

#bottom {
    text-align: center;
}

#lang li a{
    text-decoration: none;
}

#left,
#middle,
#right {display: inline-block; }

#middle img {
    width: 11px;
    padding: 0 7px;
}

#left ul,
#right ul {
    position: absolute; 
}

div#left ul {
    bottom: 0;
    left: 0;
}

div#right ul {
    bottom: 0;
    right: 0;
}



